.card{
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    max-width: 900px;
    margin: 0px auto 32px auto;
    padding: 16px 16px 16px 16px;
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,0,1);
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.1); 
    box-shadow: 3px 3px 5px 5px rgba(0,0,0,0.1);
}

.card-image{
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-right: 16px;
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 5px;
    background-color: lightcyan;
}

img{
    height: 300px;
    position: absolute;
}

.card-body{
    flex-grow: 1;
}

.card-title{
    color:#1E90FF;
}

.card-hero{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 8px 0px 8px;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    color:#6c757d;
}

@media only screen and (max-width: 600px) {
    .card{
        margin: 0px 8px 32px 8px;
    }
    .card-image{
        margin: 0;
        flex-basis: 100%;
    }
  }

  .place-link{
      display: inline-block;
      margin-bottom: 16px;
      padding: 8px 16px 8px 16px;
      background-color: #1E90FF;
      color: #fff;
      border-radius: 5px;
      text-decoration: none;
  }

  .place-link:hover{
    background-color: #6c757d;
    padding: 3px 11px 3px 11px;
    border: 5px solid #1E90FF;
}

  .link-text{
      margin: 0 8px 0 0px;
  }